rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /leaderboard/{document} {
      allow read: if true;
      allow write: if request.resource.data.name is string 
                    && request.resource.data.name.size() > 0 
                    && request.resource.data.name.size() <= 30
                    && request.resource.data.time is number
                    && request.resource.data.attempts is number;
    }
  }
}
